<div>
    <mat-card *ngIf="!id" class="order-container">
        <form [formGroup]="orderIdForm">
            <mat-card-title> <mat-icon>search</mat-icon>
                Search Order</mat-card-title>
            <mat-card>
                <mat-grid-list cols="6" rowHeight="95px">
                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Order Id</mat-label>
                            <input formControlName="id" matInput>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-button [disabled]="!orderIdForm.valid" (click)="getOrder()">Get Order</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </form>
    </mat-card>

    <mat-card *ngIf="order" class="order-container">
        <mat-card-title> <mat-icon>local_pizza</mat-icon>
            Order detials</mat-card-title>
        <mat-card>
            <mat-grid-list cols="5" rowHeight="95px">
                <mat-grid-tile>
                    Order Id : {{order.id}}
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-icon> email</mat-icon>
                    Email: {{order.user.email}}
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-icon>home</mat-icon>
                    Delivery addreddress: {{order.user.deliveryAddress}}
                </mat-grid-tile>
               
            </mat-grid-list>
            <mat-grid-list cols="5" rowHeight="95px">
                <mat-grid-tile>
                    <mat-icon>
                        shopping_cart
                    </mat-icon>
                    Total
                    ₹{{order.value}}
                </mat-grid-tile> 

                <mat-grid-tile>
                    <mat-icon>phone_iphone</mat-icon>
                    Contact number: {{order.user.mobileNumber}}
                </mat-grid-tile>

            </mat-grid-list>
            <mat-grid-list cols="5" rowHeight="95px">
                <mat-grid-tile>
                    Thanks &nbsp; <span style="font-weight: bold;"> {{order.user.name}}</span> &nbsp; for ordering pizza!!
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-card>
</div>