<div class="app-pizza-container" [class.app-pizza-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-pizza-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-pizza-app-name">Pizzeria</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-pizza-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <ng-container *ngFor="let navItem of fillerNav">
          <a mat-list-item [routerLink]="navItem.href">
            <mat-icon>{{navItem.iconName}}</mat-icon>
            {{navItem.displayName}}</a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>